/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@font-face {
  font-family: MP-regular;
  src: url("fonts/MYRIADPRO-REGULAR.woff");
}

@font-face {
  font-family: MP-bold;
  src: url("fonts/MYRIADPRO-BOLD.woff");
}

@font-face {
  font-family: MP-semiBold;
  src: url("fonts/MYRIADPRO-SEMIBOLD.woff");
}

@font-face {
  font-family: Helvatica;
  src: url("fonts/HelveticaNeueLTStd-MdCn.otf");
}

/*==================== VARIABLES CSS ====================*/
:root {


  /*========== Colors ==========*/

  --dark-green: #006738;
  --light-green: #8cc63e;
  --paragraph-color: #58585b;
  --dark-paragraph-color: #221f1f;


  /*========== Font and typography ==========*/
  --navbar-font: 18px;
  --table-font:18px;
  --title-font: 64px;
  --subtitle-font: 35px;
  --title-alt-font: 49px;
  --subtitle-alt-font: 33px;
  --attraction-title:51px;
  --heading-font: 22px;
  --subheading-font: 20px;
  --card-heading-font: 28px;
  --card-subheading-font: 23px;
  --description-font: 16px;
  --paragraph-font:18px;
  --samll-font: 15px;
  --slider-date-font:18pt;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


/*========== Margines ==========*/
  .margin-x-sm{height: 5vh;}
  .margin-sm{height: 10vh;}
  .margin-x-md{height: 15vh;}
  .margin-md{height: 20vh;}
  .margin-x-xl{height: 25vh;}
  .margin-xl{height: 30vh;}

/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--paragraph-color);
  font-family: MP-regular;
  font-size: var(--paragraph-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
::selection{
  background-color: #b9fa64;
  color: var(--dark-green);
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 3rem 2rem 3rem;
}

.section_title {
  font-size: var(--title-font);
  font-family: MP-bold;
  color: var(--dark-green);
  line-height: initial;
  letter-spacing: 2px;
}

.section_subtitle {
  font-size: var(--subtitle-font);
  color: #424a51;
  letter-spacing: .7rem;
}

.section_title,
.section_subtitle {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

/*==================== HEADER ====================*/
.header {
  height: max-content;
  /* background-image: url("../images/LTC-Slicing-03.jpg");
  background-repeat: no-repeat;
  background-size: 100% ;
  object-fit: cover; */
}

.header_img {
  visibility: visible;
}

/*==================== NAV ====================*/
.navbar-toggler {
  color: transparent !important;
  outline: none;
  border: 0px transparent !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar {
  background-color: var(--dark-green);
  overflow: hidden;
  /* min-height: 116px; */
}

.offcanvas {
  background-color: var(--dark-green);
  min-width: 80% !important;
}
.offcanvas.show:not(.hiding), 
.offcanvas.showing {
  max-width: 85% !important;
}

.close_button {
  background-color: #fff;
}

.navbar-nav {
  transform: translateY(31px);
}

.nav-item {
  position: relative;
  padding: 1.5px 10px;
  margin: 0px 15px;
  font-size: var(--navbar-font);
  letter-spacing: 0.4px;
  font-family: MP-semiBold;
  overflow: hidden;
  text-align: center;
}

.dropdown-menu{
  background-color: #009344;
  outline: 0 !important;
  border:0;

}

.nav-link,
.nav-link:focus,
.nav-link:hover,
.nav-link:active,
.dropdown-toggle{
  color: #fff !important;
}
.dropdown-item,
.dropdown-item:hover{
  color: var(--light-green);
}
.dropdown,
.dropdown-menu{
  text-align: center;
}

.nav-item::after {
  content: '';
  background-color: var(--light-green);
  height: 1000px;
  width: 1000%;
  position: absolute;
  z-index: -1;
  transition: 0.3s ease-in-out;
  transform: translateY(-3px);
  left: 0;
}

.nav-item:hover.nav-item::after {
  transform: translateY(-100px);
}

.sub_navbar {
  position: absolute !important;
  right: 5%;
  top: 13%;
}

.sub_navbar-nav {
  display: flex;
  background-color: #bac21c80;
  height: 40px !important;
}

.sub_nav-item {
  padding: 12px 10px;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-family: MP-regular;
  letter-spacing: 1px;
  transform: translateX(-15px);
}

.sub_nav-link {
  color: #fff;
}

.search_button {
  position: absolute;
  top: 19%;
  right: 2%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
}


.top-navbar{
  position: fixed;
  z-index: 9999999;
  width: 100%;
  top: 0;
  transition: all 0.7s ease-in-out !important;
}

.top-navbar .sub_navbar,
.top-navbar .search_button
{
  display: none !important;
}
.top-navbar .navbar-nav{
  transform: translateY(12px) translateX(40px);
}
.top-navbar .navbar_img{
  width: 50% !important;
  padding: 0 !important;
}
.top-navbar{
  min-height: fit-content !important;
}
.top-navbar .nav-item{
  font-size: 17px;
}




/* show menu */


/* Active link */


/* Change background header */


/*==================== ABOUT ====================*/
.about{
  margin-top: 1rem;
}
.about_para{
  font-size: var(--paragraph-font);
  text-align: justify !important;
  letter-spacing: 0.4px;
}
.about_img_wrapper{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_img{
  width: 90%;
}
.bus_img_wrapper{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.youtube_button{
  position: absolute;
}
.light_outline_btn,
.light_outline_btn:focus{
  font-size: var(--paragraph-font);
  text-transform: uppercase;
  border-radius: 0;
  border: 2.5px var(--light-green) solid;
  outline: none;
  color: var(--dark-green);
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}
.light_outline_btn:hover{
  color: white;
}

.light_outline_btn::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: var(--dark-green);
  z-index: -1;
  transition: all 1s;
}
.light_outline_btn:hover::before{
  width: 160% ;
}


/*==================== SUPPORT ====================*/

.support{
  background-color: var(--dark-green);
  padding: 2rem;
}
.support_wrapper{
  border: 20px solid var(--light-green);
}
.support_img_div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.support_img{
  width: auto !important;
}
.support_portion{
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}
.support_portion_img{
  width: 100%;
}
.support_portion_data{
  text-align: center;
  width: 100%;
}
.support_portion_icon{
  position: absolute;
   top: -25%;  /*top: 25%; */
  right: 50%;
  transform: translateX(50%);
  width: 18%;  
}
.support_portion_heading{
  width: 80%;
  text-transform: uppercase;
  font-size: var(--heading-font);
  color: #fff;
  line-height: 140%;
  letter-spacing: 0.5px;
  right: 50%;
  transform: translateX(50%);
  position: absolute;
  bottom: 5%;
}
.support_portion_button,
.support_portion_button:focus{
  font-size: var(--paragraph-font);
  position: absolute;
  bottom: -10.5%;
  right: 50%;
  transform: translateX(50%);
  background-color: var(--dark-green);
  color: #fff !important;
  text-transform: uppercase;
  border-radius: 0;
}
.support_portion:hover .support_portion_icon{
  top: 25% ;
  transition:  0.3s ease-in-out;
}
.support_portion:hover .support_portion_heading{
  bottom: 24% ;
  transition:  0.3s ease-in-out;
}
.support_portion:hover .support_portion_button{
  bottom: 10% ;
  transition:  0.3s ease-in-out;
  background-color: var(--light-green);
}
 
 .support_portion_button:hover {
  box-shadow: 7px 5px 56px -14px #C3D900;
  background-color: white !important;
  color: var(--dark-green) !important;
 }
 
 .support_portion_button:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #C3D900;
  right: 50%;
  transform: translateX(50%);
 }

 
/*==================== HEIGHLIGHT ====================*/

.highlight_slider{
  margin: 5rem 0;
}
.highlight_slider_calander{
  text-align: center;
}
.highlight_slider_calander {
  position: relative;
}
.calander_date{
  font-family: Helvatica;
  font-size: 96pt;
  color: #c8c9ca;
  position: relative;
  line-height: 90pt;
}
.calander_month{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}
.calander_year{
  transform: translateY(-30%);
}
.calander_month,
.calander_year{
font-family: MP-semiBold;
font-size: var(--slider-date-font);
}
.slider_heading{
  color: var(--dark-green);
  font-size: var(--heading-font);
  font-family: MP-semiBold;
  line-height: 100%;
}
.slider_heading{
  margin-bottom: 0;
}
.slider_description{
  font-size: var(--description-font);
  line-height: 130%;
}
.highlight_slider_btn{
  border: 1.5px solid var(--light-green);
}
.highlight_slider_control_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.highlight_slider_control{
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateY(-5px);
}



/*==================== TEAM ====================*/
.team{
  background: url("../images/LTC-Slicing-22.jpg");
  background-size: cover;
}
.team_member_portion{
  display: flex;
  align-items: center;
  justify-content: center;
}
.team_member_wrapper_div{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}
.team_member_wrapper{
  padding: 0; margin: 0;
  position: relative;
  overflow: hidden;
}
.team_member_wrapper::before{
  content: '';
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: var(--light-green);
  opacity: 25%;
  bottom: -600%;
  left: 0;
  transition: 0.4s ease-in;
}

        /* ----------------- background must not be lighten on hover -----------------------  */

/* .team_member_wrapper:hover.team_member_wrapper::before{
  bottom: 0;
} */
.team{
  margin-bottom: 0;
}
.team_member_name{
  width: 100%;
  padding: 0 15px;
  text-align: center;
  color: #fff;
  font-size: var(--subheading-font);
  font-family: MP-regular;
  line-height: initial;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.tabs-btns > .team_member_wrapper_div{
  cursor: pointer;
}
.team_member_card_wrapper{
  position: relative;
}
.team_member_card_data_inner{
  position: absolute;
  left: 40%;
  top: 10%;
  width: 48%;
  background-color: #e5e9e8;
  padding: 1rem;
}
.team_member_card_heading{
  text-align: center;
  color: var(--dark-green);
  font-size: var(--card-heading-font);
  font-family: MP-semiBold;
  line-height: initial;

}
.team_member_card_subheading{
  text-align: center;
  font-size: var(--card-subheading-font);
  line-height: initial;
}
.team_member_card_description{
  padding: 10px 10px;
  font-size: var(--samll-font);
  line-height: 170%;
  line-height: 150%;
}
.team_member_card_button{
  float: right;
  transform: translate(17px,16px);
  border: 0;
  outline: 0;
}

.mariam[data-content]{
  display: none;
}
.mariam_active[data-content]{
  display: block;
}
.zafar[data-content]{
  display: none;
}
.zafar_active[data-content]{
  display: block;
}
.qayyum[data-content]{
  display: none;
}
.qayyum_active[data-content]{
  display: block;
}
.shafique[data-content]{
  display: none;
}
.shafique_active[data-content]{
  display: block;
}
.active-btn .team_member_wrapper::before{
  bottom: 0;
}

/*==================== NEWS ====================*/
.news{
  background-color: #f5f9fc;
}
.news_wrapper{
  margin-top: 2rem;
  position: relative;
}
.news_wrapper_div{
  background-color: #fff;
    /* display: flex;
    align-items: stretch; */
    /* flex-wrap: wrap; */
}
.news_wrapper_div:hover{
  cursor: pointer;
  -webkit-box-shadow: 9px 11px 30px -10px rgba(153,147,153,0.85);
-moz-box-shadow: 9px 11px 30px -10px rgba(153,147,153,0.85);
box-shadow: 9px 11px 30px -10px rgba(153,147,153,0.85);
transition: all 0.4s;
}
.news_wrapper_div:hover .news_wrapper_img_div{
  background-color: var(--dark-green);
  transition: all 0.4s;
}
.news_img{
  width: 65%;
  transform: translateX(-25%);
}
.news_wrapper_img_div{
  clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
}
.news_wrapper_img_alt{
  visibility: hidden;
  position: absolute;
  z-index: 2;
  left: 16px;
  height: 80%;
}
.news_wrapper_div:hover .news_wrapper_img_alt{
  visibility: visible;
}
.news_wrapper_div:hover .news_wrapper_img{
  visibility: hidden;
}
.news_card_date{
  font-size: var(--navbar-font);
  color: #009344;
  margin-top: 18px !important;
}
.news_card_title{
  font-size:var(--subheading-font);
  color: var(--dark-green);
  line-height: 100% !important; 
  margin-top: 5px !important;
}

.dark_outline_btn,
.dark_outline_btn:focus{
  width: fit-content;
  text-transform: uppercase;
  border-radius: 0;
  border: 2.5px var(--light-green) solid;
  outline: none;
  color: #fff;
  background: var(--dark-green);
  position: relative !important;
  z-index: 1;
  transition: all 1s;
  overflow: hidden;
}

.dark_outline_btn:hover {
  color: white;
}
.dark_outline_btn::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: var(--light-green);
  z-index: -1 ;
  transition: all 1s;
}
.dark_outline_btn:hover::after {
  width: 160% ;
}


/*==================== TENDERS ====================*/

.tenders{
  background: url("../images/LTC-Slicing-23.jpg");
  background-size: cover;
}
thead > tr > th{
  padding: 20px 20px !important;
  background-color: var(--light-green) !important;
  border-top: 5px solid var(--dark-green);
  color: var(--dark-green);
  font-size: var(--navbar-font);
  text-align: center;
}
.tender_table_tr > td{
  background-color: #898b8d4D;
  padding: 20px 20px !important;
  font-size: var(--table-font);
  color: #221f1f;
  border: none !important;
  border-right: 1.5px solid rgba(126, 125, 125, 0.664) !important;
  border-bottom: 5px solid rgba(255, 255, 255, 0.5)!important; 
}
.no_border_tr > td{
  border-bottom: none !important;
}
.tender_table_date{
  text-align: center;
}
.tender_table_tr:hover{
  background-color: #898b8d59;
  cursor: grab;
}

/*==================== HELP ====================*/
.help{
  padding: 0;
  background-color: var(--dark-green);
}
.help_img_wrapper{
  clip-path: polygon(0 0, 76% 0, 100% 100%, 0% 100%);
  background-color: #e5e9ec;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.help_img_container{
  padding: 5rem 0rem;
}
.help_container{
  padding: 5rem 3rem ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.help_data{
  text-align: center;
  transform: translateX(-50px);
}
.help_heading{
  color: #fff;
  font-family: MP-bold;
  font-size: var(--title-alt-font);
  text-transform: uppercase;
}
.help_subheading{
  color: var(--light-green);
  font-family: MP-semiBold;
  font-size: var(--subtitle-alt-font);
}
.signin_button{
  font-size: var(--navbar-font);
  color: #fff;
  text-transform: uppercase;
  background-color: var(--light-green);
  border: 1px solid var(--light-green);
  outline: none;
}
.signin_text{
  color: #fff;
  font-family: sans-serif;
  font-size: var(--samll-font);
  font-weight: 100 !important;
  font-style: italic;
}
.signup_button{
  border: 1px solid #fff;
  background-color: var(--dark-green);
}
.signup_button:hover{
  background-color: white;
  color: var(--dark-green);
  transition: all 0.4s ease-in-out !important;
}
/*==================== TRIP PLANER ====================*/

.trip{
  padding: 3rem 0rem 1rem;
}
.route_wrapper,
.location_wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.route_lable,
.location_lable{
  flex: 1;
  color: #231f20;
  font-size: var(--navbar-font);
  margin-right: 15px;
}
.route_input,
.location_input{
  height: 30px;
  flex: 7;
  background-color: #e6e7e8;
  border: 0px;
  border-radius: 5px;
  text-transform: uppercase;
}
.route_input:focus,
.location_input:focus{
  outline: .5px solid  #404041 ;
  /* background-color: #e8f0fe; */
}
.trip_button_wrapper{
  display: flex;
  justify-content:space-around !important;
}
.trip_button{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-green);
  color: #fff !important;
  border: 0;
  border-radius: 5px;
}
.trip_button:hover{
  background-color: var(--light-green) !important;
  transition: 0.4s ease-in-out;
}
.trip_map_div{
  height: 600px;
}

/*==================== TOURIST ATTRACTION ====================*/
.attraction{
  padding: 1rem 0rem 1rem;
}
.attraction_data_container{
  padding: 0rem 3rem;
}
.attraction_title{
  text-align: left;
  letter-spacing: 0px !important;
  font-size: var(--attraction-title);
}
.attraction_image_div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tourist_table_th{
  padding: 5px 20px !important;
  background-color: var(--dark-green) !important;
  border-bottom: 5px solid black !important;
  color: #fff;
  letter-spacing: 2px;
  font-size: var(--navbar-font);
  text-align: center;
}
.tourist_table_tr{
  text-align: center;
}
.tourist_table_tr > td{
  background-color: #898b8d4D;
  padding: 10px 20px !important;
  font-size: var(--navbar-font);
  color: #404041;
  border: none !important;
  border-right: 1.5px solid rgba(126, 125, 125, 0.664) !important;
  border-bottom: 3px solid rgba(255, 255, 255)!important; 
}
.no_border_tr > td{
  border-bottom: none !important;
}
.tourist_table_tr:hover{
  background-color: #898b8d59;
  cursor: grab;
}
/*==================== CONTACT US ====================*/
.contact{
  padding: 2rem 0rem 0rem;
  margin: 0;
}
.contact_title_div{
  background-color: var(--dark-green);
}
.contact_title{
  letter-spacing: 0px !important;
  font-size: var(--attraction-title);
  color: #fff;
}
.contact_data_wrapper{
  padding: 2rem 4rem 1rem;
}
.contact_img{
  width: 35%;
  transform: translateX(-35%);
}
.contact_heading{
  font-family: MP-semiBold;
  color: var(--dark-green);
  font-size: var(--navbar-font);
}
.contact_subheading{
  font-family: MP-semiBold;
  color: var(--dark-green);
}
.contact_description{
  font-size: var(--description-font);
  line-height: initial;
}
.contact_Phone{
  margin-top: -5px;
}
.office_address{
  margin-top: -10px;
}

.contact_map_div{
  height: 100%;
  filter: grayscale(0.6);  
}

/*==================== FOOTER ====================*/
.footer{
  background-color: var(--dark-green);
  transform: translateY(.4rem);
  padding: 2rem;
}
.footer_data{
  font-size: var(--samll-font);
  color: #fff;
  font-family: MP-regular;
  letter-spacing: .8px;
  background-color: var(--light-green) !important;
  transform: translateY(-.3rem);
}
.copy_text{
  float: left;
}
.Power_text{
  float: right;
}

/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/

/* For large devices */
@media  screen and (max-width:1300px) {
  :root{
    /*========== Font and typography ==========*/
    --navbar-font: 16px;
    --table-font:14px;
    --title-font: 60px;
    --subtitle-font: 33px;
    --title-alt-font: 49px;
    --subtitle-alt-font: 33px;
    --attraction-title:51px;
    --heading-font: 21px;
    --subheading-font: 19px;
    --card-heading-font: 26px;
    --card-subheading-font: 21px;
    --card-description-font:14px;
    --description-font: 14px;
    --paragraph-font: 16px !important;
    --samll-font: 14px;
    --slider-date-font:16pt;
 }


 .calander_date{
  font-size: 80pt;
 }
 

.team_member_card_data_inner{
  width: 60%;
  padding: .5rem;
}
.team_member_card_data_inner{
 top: 15%;
 left: 40%;
 padding-bottom: 0;
}
.team_member_card_description{
 font-size: var(--card-description-font);
  padding: 0px 7px;
  margin-top: 5px;
  text-align: justify;
}
.team_member_card_button{
  background-color: transparent !important;
  transform: translate(9px,0px);
}





}

/* For large devices */
@media  screen and (max-width:1024px) {
  :root{
    /*========== Font and typography ==========*/
    --navbar-font: 16px;
    --table-font:14px;
    --title-font: 60px;
    --subtitle-font: 33px;
    --title-alt-font: 49px;
    --subtitle-alt-font: 33px;
    --attraction-title:51px;
    --heading-font: 21px;
    --subheading-font: 15px;
    --card-heading-font: 26px;
    --card-subheading-font: 21px;
    --card-description-font:14px;
    --description-font: 14px;
    --paragraph-font: 16px !important;
    --samll-font: 14px;
    --slider-date-font:16pt;
 }


 .about{
  margin-top: 0px;
}
.about_img{
  width: 70%;
}
.bus_img_wrapper{
  padding: 0px 3rem !important;
}


.calander_date{
  font-size: 67pt !important;
  transform: translateX(-20%) !important;
}
.calander_year{
  transform: translateY(-90%) !important;
}
.highlight_slider_btn{
  transform: translateY(-4pt);
}
.highlight_slider {
  margin: 3rem 0 -0rem;
}
.calander_date{
  transform: translateX(0%) !important;
}
  
.team{
  padding: .5rem;
  overflow: hidden;
}
.team_member_name{
  font-size: 13px;
}


.team_member_card_data_inner{
  width: 50%;
  padding: 1rem;
}
.team_member_card_data_inner{
 top: 15%;
 left: 40%;
 padding-bottom: 0;
}
.team_member_card_description{
 font-size: var(--card-description-font);
  padding: 0px 7px;
  margin-top: 5px;
  text-align: justify;
}
.team_member_card_button{
  background-color: transparent !important;
  transform: translate(17px,0px);
}
.team_member_portion{
  padding: 0rem 3rem;
}
.team_section_data_wrapper{
  margin: 2.5rem 0rem 3.5rem;
}
.team_member_card_wrapper{
  transform: translateX(20px);
}
.team_member_card_arrow{
  width: 50%;
}



.news{
  padding: 1.5rem 1rem;
}
.news_wrapper{
  margin-top: .5rem;
}
.news_img{
  width: 50%;
  transform: translateX(-18%);
}
.news_card_date{
  margin-top: 20px ;
}
.news_card_title{
  margin-top: 5px;
}



.tenders{
  padding: 1.5rem 0rem;
}
thead > tr > th{
  padding: 15px 15px !important;
  border-top: 2px solid var(--dark-green);
}
.tender_table_tr > td{
  padding: 15px 15px !important;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5)!important; 
}


.help_img_wrapper{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.help_img_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem 2rem !important;
}
.help_container{
  padding: 5rem 3rem ;
}
.help_data{
  text-align: center;
  transform: translateX(0px);
}



.location_input,
.route_input,
.trip_button{
  height: 20px;
}
.trip_map_div{
  height: 450px;
}


.location_input,
.route_input{
  height: 20px;
}
.location_wrapper{
  margin-top: 10px;
  margin-right: 10px;
}
.trip_button_wrapper{
  display: none;
  /* ======== displayed None ============ */
}




.attraction_img{
  top: 50%;
}
.attraction_title{
  text-align: center;
}
.attraction_data_container{
  padding: 0rem 1rem;
}
.attraction_image_div{
  display: block;
}
.tourist_table_th{
  padding: 5px 20px !important;
  border-bottom: 3px solid black !important;
}
.tourist_table_tr > td{
  padding: 10px 10px !important;
  border-bottom: 2px solid rgba(255, 255, 255)!important; 
}




.contact_data_wrapper{
  padding: 2rem 4rem 1rem 2rem;
}
.contact_img{
  width: 35%;
transform: translateX(-90%);
}






}




/* For medium devices */
@media  screen and (max-width:770px) {
  :root{
    /*========== Font and typography ==========*/
    --navbar-font: 16px;
    --table-font:14px;
    --title-font: 58px;
    --subtitle-font: 31px;
    --title-alt-font: 45px;
    --subtitle-alt-font: 33px;
    --attraction-title:51px;
    --heading-font: 19px;
    --subheading-font: 17px;
    --card-heading-font: 24px;
    --card-subheading-font: 19px;
    --card-description-font: 13px;
    --description-font: 13px;
    --paragraph-font: 15px !important;
    --samll-font: 13px;
    --slider-date-font:14pt;
 }
 


 .about{
  margin-top: 0px;
}
.about_btn{
  margin-top: 10px;
}
.about_img{
  width: 70%;
}
.bus_img_wrapper{
  padding: 0rem 5rem !important;
}


.highlight{
  padding: 3rem 1rem 3rem;
}
.calander_date{
  font-size: 47pt !important;
  transform: translateX(-16%) !important;
}
.calander_year{
  transform: translateY(-130%) !important;
}
.highlight_slider_btn{
  transform: translateY(-6pt);
}
.highlight_slider {
  margin: 3rem 0 1rem;
}
  
.team{
  padding: .5rem;
}
.team_member_card_data_inner{
  width: 55% !important;
  padding: 0.5rem;
}
.team_member_card_description{
  padding: 0px 7px;
  margin-top: 5px;
  text-align: justify;
}
.team_member_card_button{
  background-color: transparent !important;
  transform: translate(17px,8px);
}
.team_member_portion{
  padding: 0rem 3rem;
}
.team_section_data_wrapper{
  margin: 2.5rem 0rem;
}
.team_member_card_wrapper{
  transform: translateX(20px);
}
.team_member_card_arrow{
  width: 50%;
}


.team_member_card_data_inner{
  width: 50%;
  padding: 1rem;
}
.team_member_card_data_inner{
 top: 15%;
 left: 40%;
 padding-bottom: 0;
}
.team_member_card_description{
 font-size: var(--card-description-font);
  padding: 0px 7px;
  margin-top: 5px;
  text-align: justify;
}
.team_member_card_button{
  background-color: transparent !important;
  transform: translate(17px,0px);
}
.team_member_portion{
  padding: 0rem 3rem;
}
.team_section_data_wrapper{
  margin: 2.5rem 0rem 3.5rem;
}
.team_member_card_wrapper{
  transform: translateX(20px);
}
.team_member_card_arrow{
  width: 80%;
}



.news{
  padding: 1.5rem 1rem;
}
.news_wrapper{
  margin-top: .5rem;
}
.news_img{
  width: 50%;
  transform: translateX(-18%);
}
.news_card_date{
  margin-top: 20px ;
}
.news_card_title{
  margin-top: 5px;
}



.tenders{
  padding: 1.5rem 0rem;
}
thead > tr > th{
  padding: 10px 10px !important;
  border-top: 2px solid var(--dark-green);
}
.tender_table_tr > td{
  padding: 10px 10px !important;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5)!important; 
}


.help_img_wrapper{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.help_img_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem 2rem !important;
}
.help_container{
  padding: 5rem 3rem ;
}
.help_data{
  text-align: center;
  transform: translateX(0px);
}



.location_input,
.route_input,
.trip_button{
  height: 20px;
}
.trip_button_wrapper{
  margin-top: 10px;
}
.trip_button{
font-size: var(--samll-font);
}
.trip_map_div{
  height: 300px;
}


.location_input,
.route_input{
  height: 20px;
}
.trip_button_wrapper,
.location_wrapper{
  margin-top: 10px;
  margin-right: 10px;
}
.trip_button_wrapper{
  display: none;
  /* ======== displayed None ============ */
  padding-left:8rem;
  padding-right: 15%;
  margin-right: 10px;
}
.trip_button:nth-child(1){
 margin-right: 10px !important;
}
.trip_button{
font-size: var(--samll-font);
height: 20px;
}




.attraction_img{
  width: 50% !important;
}
.attraction_title{
  text-align: center;
}
.attraction_data_container{
  padding: 0rem 1rem;
}
.attraction_image_div{
  display: block;
}
.tourist_table_th{
  padding: 5px 20px !important;
  border-bottom: 3px solid black !important;
}
.tourist_table_tr > td{
  padding: 10px 10px !important;
  border-bottom: 2px solid rgba(255, 255, 255)!important; 
}




.contact_data_wrapper{
  padding: 2rem 4rem 1rem 2rem;
}
.contact_img{
  width: 35%;
transform: translateX(-90%);
}
/* .contact_map_div{
  height: 300px;
} */



}



/* For small devices */
@media  screen and (max-width:706px) {
  :root{
    /*========== Font and typography ==========*/
    --navbar-font: 12px;
    --table-font:14px;
    --title-font: 41px;
    --subtitle-font: 25px;
    --title-alt-font: 32px;
    --subtitle-alt-font: 22px;
    --attraction-title:36px;
    --heading-font: 20px;
    --subheading-font: 16px;
    --card-heading-font: 20px;
    --card-subheading-font: 16px;
    --card-description-font: 12px;
    --description-font: 12px;
    --paragraph-font: 15px !important ;
    --samll-font: 12px;
    --slider-date-font:13pt; 
  }

  .section_title{
    letter-spacing: 0.5px;
  }

  .navbar_img{
    width: 65% !important;
  }
  .about{
    margin-top: 0px;
    padding: 2rem 1rem 2rem;
  }
  .about_img{
    width: 70%;
  }
  .bus_img_wrapper{
    padding: 0px 2rem !important;
  }


  .highlight{
    padding: 3rem 0rem 3rem;
  }
  .highlight_slider_calander{
    transform: translateY( -1.5rem);
  }
  .calander_date{
    font-size: 54pt !important;
    transform: translateX(-1rem) !important;
  }
  .calander_year{
    transform: translateY(-120%) !important;
  }
  .highlight_slider_btn{
    transform: translateY(-6pt);
  }
  .highlight_slider {
    margin: 3rem 0 1rem;
  }

  
  .team{
    padding: .5rem;
    overflow: hidden;
  }
  .team_member_card_data_inner{
    width: 55% !important;
    padding: 0.5rem;
  }
  .team_member_card_description{
    padding: 0px 7px;
    margin-top: 5px;
    text-align: justify;
  }
  .team_member_card_button{
    background-color: transparent !important;
    transform: translate(17px,8px);
  }
  .team_member_portion{
    padding: 0rem 3rem;
  }
  .team_section_data_wrapper{
    margin: 2.5rem 0rem;
  }
  .team_member_card_wrapper{
    transform: translateX(20px);
  }
  .team_member_card_arrow{
    width: 50%;
  }


  .team_member_card_data_inner{
    width: 50%;
    padding: 0.5rem;
  }
  .team_member_card_data_inner{
   top: 15%;
   left: 40%;
   padding-bottom: 0;
  }
  .team_member_card_description{
   font-size: var(--card-description-font);
    padding: 0px 7px;
    margin-top: 5px;
    text-align: justify;
  }
  .team_member_card_button{
    background-color: transparent !important;
    transform: translate(17px,0px);
  }
  .team_member_portion{
    padding: 0rem 3rem;
  }
  .team_section_data_wrapper{
    margin: 2.5rem 0rem 3.5rem;
  }
  .team_member_card_wrapper{
    transform: translateX(20px);
  }
  .team_member_card_arrow{
    width: 50%;
  }
 


  .news{
    padding: 1.5rem 1rem;
  }
  .news_wrapper{
    margin-top: .5rem;
  }
  .news_img{
    width: 50%;
    transform: translateX(-18%);
  }
  .news_card_date{
    margin-top: 20px ;
  }
  .news_card_title{
    margin-top: 5px;
  }
  


  .tenders{
    padding: 1.5rem 0rem;
  }
  thead > tr > th{
    padding: 5px 5px !important;
    border-top: 2px solid var(--dark-green);
  }
  .tender_table_tr > td{
    padding: 5px 5px !important;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5)!important; 
  }


  .help_img_wrapper{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .help_img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem 2rem !important;
  }
  .help_container{
    padding: 5rem 3rem ;
  }
  .help_data{
    text-align: center;
    transform: translateX(0px);
  }



  .location_input,
  .route_input,
  .trip_button{
    height: 20px;
  }
  .trip_button_wrapper{
    margin-top: 10px;
  }
  .trip_button{
  font-size: var(--samll-font);
  }
  .trip_map_div{
    height: 300px;
  }


  .location_input,
  .route_input{
    height: 20px;
  }
  .trip_button_wrapper,
  .location_wrapper{
    margin-top: 10px;
    margin-right: 10px;
  }
  .trip_button_wrapper{
    display: none;
    /* ======== displayed None ============ */
    padding-left:8rem;
    padding-right: 15%;
    margin-right: 10px;
  }
  .trip_button:nth-child(1){
   margin-right: 10px !important;
  }
  .trip_button{
  font-size: var(--samll-font);
  height: 20px;
  }




  .attraction_img{
    width: 50% !important;
  }
  .attraction_title{
    text-align: center;
  }
  .attraction_data_container{
    padding: 0rem 1rem;
  }
  .attraction_image_div{
    display: block;
  }
  .tourist_table_th{
    padding: 5px 20px !important;
    border-bottom: 3px solid black !important;
  }
  .tourist_table_tr > td{
    padding: 10px 10px !important;
    border-bottom: 2px solid rgba(255, 255, 255)!important; 
  }




  .contact_data_wrapper{
    padding: 2rem 4rem 1rem 2rem;
  }
  .contact_img{
    width: 35%;
  transform: translateX(-90%);
  }
  .contact_map_div{
    height: 300px;
  }


  }






/* For Mobiles */
@media  screen and (max-width:450px) {
  :root{
    /*========== Font and typography ==========*/
    --navbar-font: 10px;
    --table-font:9px;
    --title-font: 38px;
    --subtitle-font: 25px;
    --title-alt-font: 25px;
    --subtitle-alt-font: 18px;
    --attraction-title:32px;
    --heading-font: 17.5px;
    --subheading-font: 13px;
    --card-heading-font: 16px;
    --card-subheading-font: 13px;
    --card-description-font: 9px;
    --description-font: 9.8px;
    --paragraph-font: 13px !important ;
    --samll-font: 8px;
    --slider-date-font:10pt; 
 }


 /*========== Margines ==========*/
 .margin-x-sm{height: 3vh;}
 .margin-sm{height: 5vh;}
 .margin-x-md{height: 8vh;}
 .margin-md{height: 11vh;}
 .margin-x-xl{height: 19vh;}
 .margin-xl{height: 24vh;}







 .section_title{
   letter-spacing: 0.5px;
 }
 .section_subtitle{
  letter-spacing: .3rem;
 }

 .about{
   margin-top: 0px;
   padding: 2rem 1rem 2rem;
 }
 .about_btn{
  margin-top: 8px;
  border: 2px solid var(--light-green);
 }
 .about_img{
   width: 80%;
   margin: 2rem 0rem;
 }
 .bus_img_wrapper{
   padding: 0px 2rem !important;
 }

 .support_portion_button{
  bottom: -19pt;
 }


 .highlight{
   padding: 3rem 0rem 3rem;
 }
 .highlight_slider_calander{
  transform: translateY(-19pt);
 }
 .calander_date{
   font-size: 47pt !important;
   transform: translateX(-20pt) !important;
 }
 .calander_year{
   transform: translateY(-130%) translateX(-10pt) !important;
 }
 .highlight_slider_btn{
   transform: translateY(-9pt);
 }
 .highlight_slider {
   margin: 3rem 0 1rem;
 }

 
 .team{
   padding: .5rem;
 }
 .team_member_card_data_inner{
   width: 58% !important;
   padding: 0.5rem;
 }
 .team_member_card_data_inner{
  top: 5%;
  left: 40%;
  padding-bottom: 0;
 }
 .team_member_card_description{
  font-size: var(--card-description-font);
   padding: 0px 7px;
   margin-top: 5px;
   text-align: justify;
 }
 .team_member_card_button{
   background-color: transparent !important;
   transform: translate(17px,0px);
 }
 .team_member_portion{
   padding: 0rem 3rem;
 }
 .team_section_data_wrapper{
   margin: 2.5rem 0rem 3.5rem;
 }
 .team_member_card_wrapper{
   transform: translateX(20px);
 }
 .team_member_card_arrow{
   width: 50%;
 }



 .news{
   padding: 1.5rem 1rem;
 }
 .news_wrapper{
   margin-top: .5rem;
 }
 .news_img{
   width: 95%;
   transform: translateX(-18%);
 }
 .news_card_date{
   margin-top: 7px !important;
 }
 .news_card_title{
   margin-top: 3.5px !important;
 }
 


 .tenders{
   padding: 1.5rem 0rem;
 }
 thead > tr > th{
   padding: 5px 5px !important;
   border-top: 2px solid var(--dark-green);
 }
 .tender_table_tr > td{
   padding: 5px 5px !important;
   text-align: center;
   border-bottom: 2px solid rgba(255, 255, 255, 0.5)!important; 
 }


 .help_subheading{
  line-height: initial;
 }
 .help_img_wrapper{
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
 }
 .help_img_container{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 2rem 0rem 2rem !important;
 }
 .help_container{
   padding: 5rem 3rem ;
 }
 .help_data{
   text-align: center;
   transform: translateX(0px);
 }
 .help_heading{

 }



 .location_input,
 .route_input{
   height: 20px;
 }
 .trip_button_wrapper,
 .location_wrapper{
   margin-top: 10px;
   margin-right: 10px;
 }
 .trip_button:nth-child(1){
  margin-right: 10px;
 }
 .trip_button{
 font-size: var(--samll-font);
 height: 20px;
 }
 .trip_map_div{
   height: 300px;
 }


 .attraction_img{
   width: 50% !important;
 }
 .attraction_title{
   text-align: center;
 }
 .attraction_data_container{
   padding: 0rem 1rem;
 }
 .attraction_image_div{
   display: block;
 }
 .tourist_table_th{
   padding: 5px 20px !important;
   border-bottom: 3px solid black !important;
 }
 .tourist_table_tr > td{
   padding: 10px 10px !important;
   border-bottom: 2px solid rgba(255, 255, 255)!important; 
 }




 .contact_data_wrapper{
   padding: 2rem 4rem 1rem 2rem;
 }
 .contact_img{
   width: 35%;
 transform: translateX(-90%);
 }
 .contact_map_div{
   height: 300px;
 }



 .footer{
  text-align: center !important;
  padding: 1.3rem 0rem 1.3rem;
}
.copy_text{
  margin-left: 15% !important;
}


}












@media screen and (max-width:1200px) {

  /* .about{
    margin-top: 0px;
    background-color: yellowgreen;
  }
  .about_img{
    width: 70%;
  }
  .bus_img_wrapper{
    padding: 0px 3rem !important;
  } */


  .navbar_img {
    width: 80%;
  }
  .navbar {
    top: 0 !important;
    min-height: fit-content;
  }

  .navbar-nav{
    transform: translateY(50px);
    margin-bottom: 20px;
  }

  .nav-item {
    padding: 10px 0px;
    margin: 10px 0px;
  }

  .nav-item::after {
    transform: translateY(-100px);
    left: -98%;
    width: 100% !important;
  }

  .nav-item:hover.nav-item::after {
    left: 0%;
    transform: translateY(-100px);
  }

  .search_button {
    display: none;
  }
}